In [12]:
import pandas, json

In [100]:
forecaster = 'nzx-mkp'
filename = '../data/forecasts/' + forecaster + '.csv'
dataframe = pandas.read_csv(filename)
dataframe.rename(columns = {'Date': 'date', 'Season': 'season', 'Forecast': 'forecast'})
dataframe[['Date', 'Season', 'Forecast']].to_csv(filename, index=False)

In [139]:
NaN

NameError: name 'NaN' is not defined

In [143]:
filename = '../data/gdt/events.csv'
dataframe = pandas.read_csv(filename, na_values='n.a.')
dataframe['date'] = pandas.to_datetime(dataframe['date'])
dataframe['date'] = dataframe['date'].dt.strftime('%Y-%m-%d')
# dataframe.drop(['season'], axis=1).
dataframe.to_csv(filename, index=False)
dataframe

,trading_event,date,amf,but,bmp,smp,wmp
0,24,2010-01-06,5323.511722,NaN,NaN,3461.530303,3789.582014
1,25,2010-06-07,4620.194349,NaN,NaN,3066.673918,3223.626150
2,26,2010-03-08,4302.288262,NaN,2905.070423,2769.630381,2974.215226
3,27,2010-01-09,4681.426230,NaN,3198.500000,3197.387402,3522.458278
4,28,2010-09-15,5188.842438,NaN,2991.500000,3228.519716,3601.604737
5,29,2010-05-10,5256.038613,NaN,3071.971904,3220.795714,3521.102525
6,30,2010-10-19,5196.463858,NaN,3033.376963,3071.752941,3483.990475
7,31,2010-02-11,5393.887755,NaN,3011.428571,3020.916958,3495.267001
8,32,2010-11-16,5341.244390,NaN,3112.857143,3096.052411,3447.495041
9,33,2010-01-12,5333.498654,NaN,3033.571429,3059.950015,3556.115556
10,34,2010-12-15,5380.453846,NaN,3020.000000,3127.921141,3619.730636
11,35,2011-04-01,5984.401211,NaN,3390.000000,3491.545122,3750.238158
12,36,2011-01-18,5946.129653,NaN,3880.000000,3579.243902,3779.982353
13,37,2011-01-02,6486.051502,NaN,NaN,3913.269231,3994.726129
14,38,2011-02-15,6323.581818,NaN,NaN,3898.441525,4319.932727
15,39,2011-01-03,6424.306705,NaN,NaN,3976.717651,4618.957143
16,40,2011-03-15,6111.054640,NaN,NaN,3816.263158,4104.985714
17,41,2011-05-04,5985.309091,NaN,NaN,3763.360445,3877.996667
18,42,2011-04-19,5950.814433,NaN,NaN,3770.511968,3911.910678
19,43,2011-03-05,5669.993103,NaN,NaN,3908.931992,3859.377694
20,44,2011-05-17,5339.759978,NaN,NaN,3824.385422,3862.894737
21,45,2011-01-06,5669.143612,NaN,NaN,4372.170543,3780.326000
22,46,2011-06-15,5345.511755,NaN,NaN,3993.824228,3887.633254
23,47,2011-05-07,5277.672727,NaN,3335.000000,3704.147113,3637.916901
24,48,2011-07-19,4613.760417,NaN,3345.000000,3487.585170,3475.254688
25,49,2011-02-08,4297.317362,NaN,3318.604651,3478.606348,3474.476757
26,50,2011-08-16,4273.211866,NaN,3419.850993,3437.956543,3385.294318
27,51,2011-06-09,4352.876298,NaN,2987.898853,3443.601541,3313.541346
28,52,2011-09-20,3845.759837,NaN,2984.723757,3229.683872,3345.089269
29,53,2011-04-10,3702.536194,NaN,3075.484048,3193.376363,3308.534405
...,...,...,...,...,...,...,...
144,168,2016-07-19,3628.000000,2687.0,1565.000000,1927.000000,2079.000000
145,169,2016-02-08,3797.000000,2871.0,1661.000000,1965.000000,2265.000000
146,170,2016-08-16,4148.000000,3274.0,1983.000000,2028.000000,2695.000000
147,171,2016-06-09,4769.000000,3764.0,2070.000000,2224.000000,2793.000000
148,172,2016-09-20,4998.000000,3892.0,2276.000000,2296.000000,2782.000000
149,173,2016-04-10,4954.000000,3891.0,2408.000000,2209.000000,2681.000000
150,174,2016-10-18,5007.000000,3984.0,2583.000000,2204.000000,2760.000000
151,175,2016-01-11,5146.000000,4146.0,2248.000000,2329.000000,3317.000000
152,176,2016-11-15,5348.000000,4193.0,2623.000000,2562.000000,3423.000000
153,177,2016-06-12,5500.000000,4262.0,2408.000000,2570.000000,3593.000000
154,178,2016-12-20,5367.000000,4290.0,2874.000000,2621.000000,3568.000000
155,179,2017-03-01,5352.000000,4308.0,2670.000000,2660.000000,3294.000000
156,180,2017-01-17,5528.000000,4382.0,2783.000000,2612.000000,3283.000000
157,181,2017-07-02,5765.000000,4593.0,2254.000000,2608.000000,3314.000000
158,182,2017-02-21,5693.000000,4598.0,2090.000000,2574.000000,3189.000000
159,183,2017-07-03,5653.000000,4653.0,1846.000000,2118.000000,2782.000000
160,184,2017-03-21,5799.000000,4910.0,1846.000000,1948.000000,2855.000000
161,185,2017-04-04,5936.000000,4750.0,1588.000000,1913.000000,2924.000000
162,186,2017-04-18,5930.000000,4892.0,1720.000000,2044.000000,2998.000000
163,187,2017-02-05,6185.000000,4911.0,1859.000000,1982.000000,3233.000000
164,188,2017-05-16,6631.000000,5479.0,1980.000000,1998.000000,3312.000000
165,189,2017-07-06,6569.000000,5631.0,2092.000000,2156.000000,3143.000000
166,190,2017-06-21,6885.000000,5768.0,2092.000000,2218.000000,3022.000000
167,191,2017-05-07,6596.000000,5775.0,2264.000000,2090.000000,3111.000000
168,192,2017-07-19,6577.000000,6004.0,2264.000000,2024.000000,3114.000000
169,193,2017-02-08,6289.000000,5747.0,2198.000000,1966.000000,3155.000000
170,194,2016-08-16,6199.000000,5735.0,2198.000000,1968.000000,3143.000000
171,195,2017-06-09,6402.000000,5954.0,2026.000000,1944.000000,3100.000000
172,196,2017-09-20,6794.000000,6026.0,2026.000000,1920.000000,31122.000000
173,197,2017-04-10,6504.000000,5837.0,1804.000000,1895.000000,3037.000000

In [120]:
'1.2'.parse()

AttributeError: 'str' object has no attribute 'parse'

In [58]:
def to_season_string(season):
    return f'{season}-{season-1999:02}'

def json_dump(filename, data):
    with open(filename, 'w') as file:
        json.dump(data, file, indent=2)
        
def drop_repeated_forecast(forecasts):
    for index in range(len(forecasts)-1, 0, -1):
        if forecasts[index]['value'] == forecasts[index-1]['value']:
            forecasts.pop(index)

In [68]:
data = {}
for forecaster in ['fonterra', 'agrihq', 'asb', 'bnz', 'westpac']:
    dataframe = pandas.read_csv('../data/old_data/forecasts/' + forecaster + '.csv')
    for index, row in dataframe.iterrows():
        season = to_season_string(row["Season"])
        if season not in data:
            data[season] = {}
        if forecaster not in data[season]:
            data[season][forecaster] = []
        data[season][forecaster].append({
            "date": row["Date"],
            "value": round(row["Forecast"], 2)
        })
for season in data:
    for forecaster in data[season]:
        data[season][forecaster].sort(key=lambda x: x['date'])
        drop_repeated_forecast(data[season][forecaster])
    json_dump('../data/forecasts/forecasts-' + season + '.json', data[season])

In [72]:
data = {}
forecaster = 'mkp'
dataframe = pandas.read_csv('../data/old_data/forecasts/' + forecaster + '.csv')
for index, row in dataframe.iterrows():
    season = to_season_string(row["Season"])
    if season not in data:
        data[season] = []
    data[season].append({
        "date": row["Date"],
        "value": round(row["Forecast"], 2)
    })
for season in data:
    data[season].sort(key=lambda x: x['date'])
    json_dump('../data/nzx/mkp-' + season + '.json', data[season])